<h1>Register</h1>
<div>
  <%= form_for(@user) do |f| %>

    <p>
      <%= f.label :email %>
      <div class='errors'><%= display_user_error(:email) %></div>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <div class='errors'><%= display_user_error(:password) %></div>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %>
      <div class='errors'><%= display_user_error(:password) %></div>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.label :time_zone %>
      <%= select("timezone", "location", @timezone_array) %>
    </p>

    <%= f.submit "Register" %>

  <% end %>
</div>
