<h1>Register</h1>
<div>
  <%= form_for(@user) do |f| %>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :time_zone %>
      <%= select("timezone", "hours", @timezone_array) %>
    </p>

    <%= f.submit "Register" %>

  <% end %>
</div>
