<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= form_for :product, url: product_path(@product), method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>