<h1> <%= @product.title %> Edit</h1>

<%= form_for :product, url: product_path(@product), method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <div class='errors'><%= display_error(:title) %></div>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <div class='errors'><%= display_error(:body) %></div>
    <%= f.text_area :body, size: "30x10" %>
  </p>

  <p>
    <%= f.label :location %><br>
    <div class='errors'><%= display_error(:location) %></div>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :category %><br>
    <div class='errors'><%= display_error(:category) %></div>
    <%= f.text_field :category %>

  </p>

  <p>
    <%= f.label :price %><br>
    <div class='errors'><%= display_error(:price) %></div>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <div class='errors'><%= display_error(:quantity) %></div>
    <%= f.number_field :quantity %>
  </p>

  <p>
    <%= f.label :expiration_date %><br>
    <div class='errors'><%= display_error(:expiration_date) %></div>
    <%= date_select :product, :expiration_date %>
  </p>

  <p>
    <%= f.submit "Edit this item", :class => 'button button-edit' %>
  </p>
<% end %>
