<h1>Products </h1>
<%= button_to "Add a new product", new_product_path, :method => :get  %>
<hr>

<% @products.each do |product| %>
  <div class="title">
    <h3><%= link_to product.title, product_path(product) %></h3>
  </div>

  <div class="location">
    <p>Location: <%= product.location %></p>
  </div>

  <div class="category">
    <p>Category: <%= product.category %></p>
  </div>

  <div class="price">
    <p>Price: <%= product.price %>$</p>
  </div>

  <div class="quantity">
    <p>Quantity: <%= product.quantity %></quantity>
  </div><hr>

<% end %>
