<h1>Add a new product</h1>

<div>
<%= form_for(@product) do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= render_errors_conditionally(@product, :title) %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= render_errors_conditionally(@product, :body) %>
    <%= f.text_area :body, size: "30x10" %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= render_errors_conditionally(@product, :location) %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= render_errors_conditionally(@product, :category) %>
    <%= f.text_field :category %>

  </p>

  <p>
    <%= f.label :price %><br>
    <%= render_errors_conditionally(@product, :price) %>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :quantity %><br>
    <%= render_errors_conditionally(@product, :quantity) %>
    <%= f.number_field :quantity %>
  </p>

  <p>
    <%= f.label :expiration_date %><br>
    <%= render_errors_conditionally(@product, :expiration_date) %>
    <%= date_select :product, :expiration_date %>
  </p>

  <p>
    <%= f.label :product_img %>
    <%= f.file_field :product_img %>
  </p>

  <p>
    <%= f.submit "Add", :class => 'button button-create'%>
  </p>
<% end %>
</div>
