<h1><%= @product.title %></h1>
  <div class="body">
    <p>Description: <%= @product.body %></p>
  </div>

  <div class="location">
    <p>Location: <%= @product.location %></p>
  </div>

  <div class="category">
    <p>Category: <%= @product.category %></p>
  </div>

  <div class="price">
    <p>Price: <%= @product.price %>$</p>
  </div>

  <div class="quantity">
    <p>Quantity: <%= @product.quantity %></quantity>
  </div>

  <%= button_to "Delete", @product, :method => :delete %>
  <%= button_to "Edit", edit_product_path, :method => :get  %>